<div class="footer-widgets">
  <div class="wrap">

    <div class="footer-widget-1">
      <section class="widget social-icons">
        <ul>

          {% if site.data.social.facebook_url %}<li class="facebook"><a href="{{ site.data.social.facebook_url }}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>{% endif %}

          {% if site.data.social.twitter_url %}<li class="twitter"><a href="{{ site.data.social.twitter_url }}" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>{% endif %}

          {% if site.data.social.google_plus_url %}<li class="google-plus"><a href="{{ site.data.social.google_plus_url }}" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>{% endif %}

          {% if site.data.social.instagram_url %}<li class="instagram"><a href="{{ site.data.social.instagram_url }}" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>{% endif %}

          {% if site.data.social.youtube_url %}<li class="youtube"><a href="{{ site.data.social.youtube_url }}" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a></li>{% endif %}

          {% if site.data.social.vimeo_url %}<li class="vimeo"><a href="{{ site.data.social.vimeo_url }}" target="_blank" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>{% endif %}

          {% if site.data.social.whatsapp_url %}<li class="whatsapp"><a href="{{ site.data.social.whatsapp_url }}" target="_blank" title="WhatsApp"><i class="fa fa-whatsapp"></i></a></li>{% endif %}

          {% if site.data.social.pinterest_url %}<li class="pinterest"><a href="{{ site.data.social.pinterest_url }}" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>{% endif %}

          {% if site.data.social.tumblr_url %}<li class="tumblr"><a href="{{ site.data.social.tumblr_url }}" target="_blank" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>{% endif %}

          {% if site.data.social.linkedin_url %}<li class="linkedin"><a href="{{ site.data.social.linkedin_url }}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>{% endif %}

          {% if site.data.social.medium_url %}<li class="medium"><a href="{{ site.data.social.medium_url }}" target="_blank" title="Medium"><i class="fa fa-medium"></i></a></li>{% endif %}

          {% if site.data.social.email %}<li class="email"><a href="mailto:{{ site.data.social.email }}" target="_blank" title="Email"><i class="fa fa-envelope"></i></a></li>{% endif %}

        </ul>
      </section>
    </div>

      <div class="footer-container">
          <div class="footer-column">
              <ul>
                  <li>1. Please select the size you need on the page</li>
                  <li>2. Please fill in the style number you need when paying</li>
              </ul>
          </div>
          <div class="footer-column">
              <ul>
                  <li>3. We will send the delivery photos on WhatsApp</li>
                  <li>4. Please follow my WhatsApp channel, our latest styles will be released in the channel. Follow and send a screenshot to me and I will give you a free tool kit</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<style>
    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
        background-color: #f8f8f8;
        border-radius: 10px;
        margin-top: 30px;
    }
    .footer-column {
        width: 48%;
        min-width: 250px;
    }
    .footer-column ul {
        list-style: none;
        padding: 0;
    }
    .footer-column li {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.5;
    }
</style>
